header{
 background:#777373;
 color:#fff;
 width:100%;
 padding-top:-20px;
 margin-top:-20px;
position:fixed;
}
header:hover{
	opacity: 1;
}
.about{

	color:#fff;
}
.at {
 font-size:20px;
  background:#ee82ee;
 background-attachment:fixed;
 padding:5px; 
 margin:5px;
 list-style:none;
}
.as {
float:right;
color:#fff;
}
.at:hover{
	color:red;
}
header input {
float:right;
}
a:link{
   text-decoration: none;
   color:fff;
}
.boot #about{background:#82976e;position:fixed; 
top:40px;left:-120px;font-weight:bold;
padding:22px;width:100px;margin:20px;
color:#fff
}
.boot #Blog{background:#73026a;position:fixed;
top:100px;left:-120px;font-weight:bold;
padding:22px;width:100px;margin:20px;
color:#fff
}
.boot #projects{background:blue;position:fixed;
top:160px;left:-120px;font-weight:bold;
padding:22px;width:100px;margin:20px;
color:#fff
}
#about:hover {
	left:0;
	width:100px
}
#Blog:hover {
	left:0;
	width:100px
	
}
#projects:hover {
	left:0;
	width:100px;
}
div{
	margin:10px;
	padding:10px;
	width:100%;
}

 .sea{
	text-align:center;
    box-shadow:
	5px 5px 10px 5px #f00,
	-5px -5px 10px  5px #00f;
     border:2px solid #ccc;
	 margin:50px auto;
	 height:150px;
	 width:800px;
	 background-color:#ccc;
	 opacity:0.8;
	 padding-top:50px;
}
.fron p {
		height:50px;
	text-align:center;
    box-shadow:
	3px 3px 8px 3px #f00,
	-3px -3px 8px  3px #00f;
     border:1px solid #ccc;
	 margin:-18px auto;
	 width:600px;
	 background-color:#ccc;
	 opacity:1;
	 font-family:arial;
	 line-height:50px;
}
.tow p{
	border:1px solid #ccc;
	width:90px;
	margin:30 auto;
	padding:10px;
	background:linear-gradient(to top,rad,blue);
	color:#666;
}
.sim img{
	height:80px; width:80px; text-align:center; margin:100px; margin-left:600px;-webkit-transition:-webkit-transform 1s;
}
.sim img:hover{
	 	-webkit-transform:scale(3) rotate(360deg);

}
.scale{
	height:300px;
		overflow:hidden;
}
.scale img{
	height:200px;
	width:150px; 
	text-align:center;
	-webkit-transition:-webkit-transform 1s;
	visibility:visible;
	overflow:hidden;
}
.scale img:hover{
	-webkit-transform:scale3d(2,2,2) translatex(100px);
		overflow:hidden;
}

